body {
  background-color: black;
}

.header {
  background-image: url('./Images/bg1.jpeg');
  background-size: cover;
  background-position: center;
  color: white;
  padding: 20px;
  text-align: center;
  height: 200px; 
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: auto;  
  overflow: hidden;
}

.header h1 {
  margin-top: 10vh; /* Adjust the top and bottom margin as needed */
  margin-bottom: 30px;
  font-size: 2.2em; /* Large font size for the main header title */
}

.header p {
  margin-top: 20px; /* Adjust the top and bottom margin as needed */
  font-size: 1em; /* Slightly larger font size for subtitle */
  
  text-align: center;
}

.resourcesbox{
  display: flex;
  /* margin: auto; */
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 2vw;
}

.boxsmall {
  padding: 2vw;
  box-sizing: border-box;
  width: 26vw;
  height: auto;
  border-radius:5px;
  background-color: rgb(31, 30, 30);
  margin: 1vw;
  margin-bottom: 3vw;
  text-decoration: none;
  transition: 0.3s ease-out;
}

.boxsmall img{
  height: 15rem;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(9, 11, 10, 0.7);
}
.boxsmall:hover{
  transform: translatey(-10px);
}

.review img {
  height: auto;
  aspect-ratio: 0.622;
}

.video img {
  height: auto;
  aspect-ratio: 1.5;
}

.podcast img {
  height: auto;
  aspect-ratio: 1;
}

.blog :hover {
  cursor: pointer;
}

.boxsmall h2{
  color: white;
  text-align: center;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 1.2rem;
  margin: 0;
  text-decoration: none;
  height: 2.8rem; /*the height of two lines*/
}

.boxsmall p{
  color: white;
  text-align: center;
  font-weight: 400;
  font-size: 0.9rem;
  /* padding-top: 1rem; */
  text-decoration: none;
}

.boxsmall a {
  text-decoration: none;
  color: rgb(141, 141, 141);
}
.bookreview .boxsmall:hover,
.Youtube .boxsmall:hover{
    transform: scale(0.98);
}
.Youtube .links:hover{
  text-decoration: underline;
}

@media only screen and (max-width: 1064px) {
  .boxsmall {
    width: 32vw;
    margin: 2vw;
  }
  .resourcesbox{
    justify-content: center;
    padding: 4vw;
  }
}

@media only screen and (max-width: 844px) {
  .boxsmall {
    width: 38vw;
    margin: 2vw;
  }
  .resourcesbox{
    justify-content: center;
    padding: 4vw;
  }
}

@media only screen and (max-width: 700px) {
  .boxsmall {
    width: 50vw;
    margin: 5vw;
  }
}

@media only screen and (max-width: 570px) {
  .boxsmall {
    width: 80vw;
    margin: 5vw;
  }
}