.Team { 
    margin: 0;
    padding: 0; 
} 

.background { 
    background: #222222; 
    background-blend-mode: darken; 
    background-size: cover;
}
  
.box-main { 
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin: auto; 
    height: 100%;
    width: 100%;
} 

.box-main h1 {
    font-size: 2.2em;
    font-weight: 500; 
    font-family: 'Poppins', sans-serif;
    color: rgb(195, 195, 195);
}

.box-main p {
    font-size: 1em;
    position: relative;
    color: rgb(170, 170, 170);
    font-family: 'Poppins', sans-serif;
    filter: drop-shadow(10px 5px 3px black);
}

.main {
    display: flexbox; 
    text-align: center;
    align-items: justify; 
    justify-content: space-between; 
    background-image: url('./Media/TeamPic.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    aspect-ratio: 3.360;
    background-color: rgba(0, 0, 0, 0.55);
    background-blend-mode: multiply;
}
/*https://stackoverflow.com/questions/12112746/how-can-i-tint-a-background-image-with-css*/

.cores {
    display: block;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    font-size: xx-large;
    color: #fff1f1;
    background-color: #010100;
    text-align: center;
    padding-top: 5vh;
    height: auto;
}

.cores-photo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5vw;
    row-gap: 5vw;
    padding: 2vw;
    text-align: center;
    position: relative;
}

.photo {
    width: 25vw;
    object-fit: cover;
    justify-self: center;
    position: relative;
}

.image {
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
}

.overlay {
    position: absolute; 
    height: 3.55vw;
    display: flex;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}

.overlay i {
    height: 80%;
    color: #ababab;
}

.photo:hover .image,
.photo.touch .image {
    opacity: 0.5;
}

.photo:hover .overlay,
.photo.touch .overlay {
    opacity: 1;
}

@media (max-width: 900px) {
    .cores-photo {
        grid-template-columns: repeat(2, 1fr);
    }
  
    .photo {
        width: 40vw;
    }
  
    .overlay {
        height: 5.6vw;
    }
  
    .overlay i {
        height: 2.5vw;
    }
}

@media (max-width: 600px) {
    .cores-photo {
        grid-template-columns: repeat(1, 1fr);
    }
  
    .photo {
        width: 80vw;
    }
  
    .overlay {
        height: 11.5vw;
    }
  
    .overlay i {
        height: 5vw;
    }
  
}

@media (max-width: 430px) {
  
    .Team p {
        font-size: 3vw;
    }
}
