
.cores-photo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4vw;
    padding: 1vw;
    text-align: center;
    position: relative;
}

.team25-photo {
    width: 23vw;
    object-fit: cover;
    justify-self: center;
    position: relative;
    transition: transform 0.3s ease; 
}

.team25-photo:hover {
    transform: scale(1.05); /* Zoom in on hover */
}

.team25-image {
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    z-index: 1;
}

.team25-image-anim {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease; 
    z-index: 2;
}

.team25-photo:hover .team25-image-anim {
    opacity: 1;
}

.overlay25 {
    position: absolute; 
    height: 3.1vw;
    display: flex;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7); 
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    z-index: 3;
}

.team25-photo:hover .overlay25 {
    opacity: 1; 
}

.overlay25 i {
    height: 50%;
    color: #dbdbdb;
}

.team25-icons-line {
    height: 3vh;
    background: rgba(0, 0, 0, 0.5);
}

.team25-icons {
    font-size: 2vw;
    z-index: 4;
    transition: transform 0.3s ease;
}


.team25-photo:hover .team25-image {
    opacity: 0.5;
}

.team25-photo:hover .overlay25 {
    opacity: 1;
}

.cores {
    display: block;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    font-size: xx-large;
    color: #fff1f1;
    background-color: #010100;
    text-align: center;
    padding-top: 5vh;
    height: auto;
}

.cores h2 {
    font-size: 1.2em;
    font-weight: normal;
}


@media (max-width: 900px) {
    .cores-photo {
        grid-template-columns: repeat(2, 1fr);
    }
  
    .team25-photo {
        width: 35vw;
    }
  
    .overlay25 {
        height: 4.9vw;
    }
  
    .overlay25 i {
        height: 2.5vw;
    }

    .team25-icons {
        font-size: 3vw;
    }
}

@media (max-width: 600px) {
    .cores-photo {
        grid-template-columns: repeat(1, 1fr);
    }
  
    .team25-photo {
        width: 60vw;
    }
  
    .overlay25 {
        height: 9.77vw;
    }
  
    .overlay25 i {
        height: 5vw;
    }

    .team25-icons {
        font-size: 5vw;
    }
  
}