.footer { 
    background-color: #222222;
} 

.vertical-line {
    position: relative;
    height: 0.1px;
    width: 80vw;
    background-color: #5f8e33;
    margin: 5vh 10vw;
}

.socialdiv {
    display: grid;
    font-family: 'Poppins', sans-serif;
    color: #fff1f1;
    background-color: #010100; 
    text-align: center; 
    height: auto;
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.socialdiv p {
    font-size: 35px;
    padding: 5px 0;
    margin-block-start: 0;
    margin-block-end: 0;
    color: #5f8e33;
    font-weight: bold;
}

.social-icon {
    padding: 5px 0px;
    display: grid;
    gap: 10px;
    text-align: center;
    width: 260px;
    justify-self: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    height: 39px;
    filter: invert(58%) sepia(0%) saturate(1779%) hue-rotate(92deg) brightness(93%) contrast(82%);
}


.text-footer { 
    text-align: center; 
    padding: 15px; 
    font-size: 17px;
    font-family:'Poppins', sans-serif; 
    display: flex; 
    justify-content: center; 
    color: #898989; 
    margin-block-start: 0;
    margin-block-end: 0;
} 

.fbut {
    color: #5f8e33;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    padding: 5px;
    font-size: 17px;
}

.section {
    background-size: cover;
    background-position: center;
}


.footer-content {
    display: grid;
    text-align: center;
    gap: 2px;
    padding: 5px; 
    box-sizing: border-box;
    grid-template-columns: repeat(6, 1fr) ;
    align-items: center;
}

.footer-content a {
    transition: 0.2s all ease-in-out;
}
.footer-content:hover a {
    opacity: 0.4;
}

.footer-content a:hover {
    opacity: 1;
    color: #fff;
}

@media (max-width: 590px) {
    .footer-content {
      grid-template-columns: repeat(1, 1fr);
    }
}