body {
  background-color: black;
}

.header {
  background-image: url('./Images/bg1.jpeg');
  background-size: cover;
  background-position: center;
  color: white;
  padding: 20px;
  text-align: center;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: auto; 
  overflow: hidden;
}

.header h1 {
  margin-top: 10vh; /* Adjust the top and bottom margin as needed */
  margin-bottom: 30px;
  font-size: 2.5em; /* Large font size for the main header title */
  
}

.header p {
  margin-top: 20px; /* Adjust the top and bottom margin as needed */
  font-size: 20px; /* Slightly larger font size for subtitle */
  
  text-align: center;
}

.resourcesbox{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media only screen and (max-width: 1000px) {
  .resourcesbox {
    grid-template-columns: repeat(2, 1fr);
  }

  .boxsmall {
    width: 46vw;
    margin: 2vw;
  }
}

@media only screen and (max-width: 600px) {
  .resourcesbox {
    grid-template-columns: repeat(1, 1fr);
  }

  .boxsmall {
    width: 90vw;
    margin: 5vw;
  }
}

.boxsmall {
  padding: 10px;
  box-sizing: border-box;
  width: 23vw;
  height: auto;
  border-radius:16px;
  background-color: rgb(31, 30, 30);
  margin: 1vw;
  text-decoration: none;
}

.boxsmall img{
  height: 220px;
  width: 100%;
  border: 1px solid #FFFFFF;
}
.boxsmall h2{
  color: white;
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  margin: 0;
  text-decoration: none;
}
.boxsmall p{
  color: white;
  text-align: justify;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
}

.boxsmall a {
  text-decoration: none;
  color: rgb(141, 141, 141);
}