.blog-page-box{
    border-radius: 10px;
    height: max-content;
    width: 80%;
    background: rgb(40, 39, 39);
    padding: 1rem;
    margin: auto;
    margin-top: 2rem;
}
.blog-header{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    width: calc(100% - 3rem);
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    color: white;
    height: 30vh;
}
.blog-header h1{
    font-size: 2.4rem;
}
.blog-header p{
    font-size: 1.2rem;
    font-weight: 500;
}
.blog-para{
    font-size: 1.2rem;
    color: white;
    margin: auto;
    padding: 1.5rem;
}

.blog-para p {
    text-align: justify;
}

.ai-fin {
    background-image: url('./blog-images/aifin-img.png');
}

.fintech {
    background-image: url('./blog-images/tech.webp'); 
}

.bid {
    background-image: url('./blog-images/bid-img.jpeg');
}

.finlit {
    background-image: url('./blog-images/finlit-img.png');
}

.liqui {
    background-image: url('./blog-images/liq-img.jpeg');
}

.compound {
    background-image: url('./blog-images/comp-img.png');
}
.gold{
    background-image: url('./blog-images/gold.jpeg');
}
@media screen and (max-width:650px) {
    .blog-page-box{
        width: 99vw;
        padding: 5px;
        margin-top: 12px;
    }
    .blog-header{
        margin: auto;
        margin-top: 20px;
    }
    .blog-para{
        font-size: 1rem;
        padding: 12px;
    }
    
}
@media screen and (max-width:350px) {
    .blog-header p{
        display: none;
    }   
}
