/* found out about SVG images can try those here
since unable to use fontawesome stylesheet in head of html*/


* { 
  margin: 0;
  padding: 0; 
} 

.background { 
  background: #222222; 
  background-blend-mode: darken; 
  background-size: cover; 
  overflow: hidden;
}

nav {
  background-color: #333;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
}

.logo {
  float: left;
  text-decoration: none;
  padding: 1vw;
  padding-top: 2vh;
}

.nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: right; /* Align the content to the right */
}

nav li {
  display: inline-block;
  margin-right: 2vw;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 3vw 3vh;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

.nav-link-active {
  color: #5f8e33;
}

.box-main { 
  display: flex; 
  justify-content: center; 
  align-items: center;
  max-width: 80%; 
  margin: auto; 
  height: 80%;
  width: 100%; 
  flex-direction: column;
} 

.box-main h1 {
  font-size: 7vw;
}

.box-main p {
  font-size: 2vw;
}

.text-big {
  font-weight: 500; 
  font-family: 'Poppins', sans-serif;
  color: rgb(195, 195, 195);
  padding-top: 14vh;
}

.text-small {
  color: rgb(170, 170, 170);
  font-family: 'Poppins', sans-serif;
  filter: drop-shadow(10px 5px 3px black);
  font-size: 2vw;
  padding-top: 6vh;
}

.main {
  display: flexbox; 
  text-align: center;
  align-items: justify; 
  justify-content: space-between; 
  background-image: url('./Media/TeamPic.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  aspect-ratio: 2.439;
  background-color: rgba(0, 0, 0, 0.55);
  background-blend-mode: multiply;
}
/*https://stackoverflow.com/questions/12112746/how-can-i-tint-a-background-image-with-css*/

.cores {
  display: block;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
  font-size: xx-large;
  color: #fff1f1;
  background-color: #010100;
  text-align: center;
  padding-top: 5vh;
  height: auto;
}

.cores-photo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2vw;
  text-align: center;
  position: relative;
}

.photo {
  width: 25vw;
  object-fit: cover;
  justify-self: center;
  position: relative;
  margin-bottom: 5vw;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
}

.overlay {
  position: absolute; 
  height: 3.55vw;
  display: flex;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity: 0;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
}

.overlay img {
  height: 2.2vw;
}

.photo:hover .image{
  opacity: 0.5;
}

.photo:hover .overlay{
  opacity: 1;
}

@media (min-width: 1210px) {

  p {
    font-size: 3vw;
  }
}

@media (min-width: 900px) {

  .text-big {
    padding-top: 15vh;
  }

  .text-small {
    padding-top: 5vw;
  }
}

@media (max-width: 900px) {
  .cores-photo {
    grid-template-columns: repeat(2, 1fr);
  }

  .photo {
    width: 40vw;
  }

  .overlay {
    height: 5.6vw;
  }

  .overlay img {
    height: 2.5vw;
  }
}

@media (max-width: 600px) {
  .cores-photo {
    grid-template-columns: repeat(1, 1fr);
  }

  .photo {
    width: 80vw;
  }

  .overlay {
    height: 11.5vw;
  }

  .overlay img {
    height: 5vw;
  }

}

@media (max-width: 510px) {
  a {
    font-size: 10px;
  }

  .text-big {
    padding-top: 12vw;
  }

}

@media (max-width: 430px) {

  p {
    font-size: 3vw;
  }

  a {
    font-size: 10px;
  }
}

@media (max-width: 360px) {
  a {
    font-size: 5px;
  }

  .text-big {
    font-size: 15px;
  }
}

hr {
  height: 0.1px;
  background-color: #5f8e33;
  border: none;
}

.social {
  display: grid;
  font-family: 'Poppins', sans-serif;
  color: #fff1f1;
  background-color: #010100; 
  text-align: center; 
  height: 100px;
}

.social p {
  font-size: 35px;
  padding-top: 10px;
}

.social-icon {
  display: grid;
  gap: 10px;
  text-align: center;
  justify-self: center;
  grid-template-columns: repeat(3, 1fr);
  height: 39px;
  filter: invert(58%) sepia(0%) saturate(1779%) hue-rotate(92deg) brightness(93%) contrast(82%);
}




::-webkit-scrollbar{
  width: 5px;
}

::-webkit-scrollbar-track{
  background: #222222;
}

::-webkit-scrollbar-thumb{
  background: #333;
}

::-webkit-scrollbar-thumb:hover{
  background: #555;
}

.hamburger {
  display: none;
  right: 0;
  align-items: center;
  position: absolute;
  right: 0;
  padding: 3vh;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
  color: black;
}

@media only screen and (max-width: 776px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    right: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}