.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #71B139;
}

.logo {
  width: 100px;
  margin-bottom: 20px;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid white;
  border-top: 5px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.logo {
  width: 120px; /* Increased size */
  animation: spinAndGrow  3s ease-in-out forwards;
}

@keyframes spinAndGrow {
  0% { transform: rotate(0deg) scale(0.2); opacity: 0; }
  50% { transform: rotate(180deg) scale(1.5);   opacity: 0.8; }
  100% { transform: rotate(360deg) scale(2);   opacity: 1; }
  /* 0% { transform: scale(0.2) translateZ(0); opacity: 0; }
  50% { transform: scale(1.5) translateZ(0); opacity: 0.8; }
  100% { transform: scale(2) translateZ(0); opacity: 1; } */
}
/* .animated-logo {
  width: 80px; /* Start smaller */
  /* animation: zoomIn 3.5s ease-in-out forwards; */


@keyframes zoomIn {

}
