* {
  font-family: 'Poppins', sans-serif;
}


::-webkit-scrollbar {
  display: none;
}

/* AppContent.css */
.app-content {
  opacity: 0;
  transform: translateY(100vh); /* Start below the viewport */
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.app-content.loaded {
  opacity: 1;
  transform: translateY(0); /* Moves up to its normal position */
}
